html, body {
    height: 100%;
}

.hello {
    height: 100%;
}

#map {
    width: 100%;
    height: 100%;

}

#layers--list {
    margin-left: 0;
    padding: 0 0 0 0.7rem;
}

.layers--list-item {
    list-style-type: none;
}

#timeline--list {
    margin-left: 0;
    padding: 0 0 0 0.7rem;
}

.timeline--list-item {
    
    list-style-type: none;
}

#crime-markers--list {
    padding: 0 0 0 0.7rem;
}
.crime-marker--list-item {
    display: block;
    list-style-type: none;
}
#mapPos{
    position: fixed;
    width:100%;
    height:100%;
}